<div class="container col-12">
  <div class="row align-items-center">
    <div class="col-md-6">
      <mat-card class="dashboard-card border_card">
        <mat-card-content class="dashboard-card-content">
          <mat-card-title> Perfil </mat-card-title>
          <br />
          <p class="card_text">
            Soy Juan Poux, estudiante de la Tecnicatura en Programación de UTN
            FRA y desarrollador web en DTI Center.
          </p>
          <p>
            Me apasiona la tecnología, la música y también disfruto de los
            videojuegos en mi tiempo libre.
          </p>
          <p>
            Desde que comencé mi formación en programación, he estado trabajando
            en proyectos personales y académicos para mejorar mis habilidades y
            conocimientos. Mi objetivo como desarrollador es seguir aprendiendo
            y creciendo en esta área, y poder aplicar mis conocimientos para
            crear soluciones innovadoras y útiles.
          </p>
          <p>
            Espero que disfruten de mi trabajo práctico y puedan conocer un poco
            más sobre mí.
          </p>
          <br />
          <br />
          <div class="d-flex justify-content-between">
            <button mat-raised-button color="primary" routerLink="/home">
              Volver a home
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6">
      <div class="d-flex justify-content-end">
        <mat-card class="dashboard-card border_card">
          <mat-card-content class="dashboard-card-content">
            <div style="max-width: 500px">
              <img
                class="img-fluid"
                src="assets/images/profile.jpg"
                alt="profile image"
              />
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="row align-items-center mt-4">
    <div class="col-12">
      <mat-card class="dashboard-card border_card">
        <mat-card-content class="dashboard-card-content">
          <mat-card-title> Explicación del juego </mat-card-title>
          <br />
          <p>-- Detalles de la explicación del juego --</p>
          <br />

          <mat-card-title> Reglas </mat-card-title>
          <ul>
            <li>-- 1 --</li>
            <li>-- 2 --</li>
            <li>-- 3 --</li>
            <li>-- 4 --</li>
            <li>-- 5 --</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
