<div class="container flex_center">
  <mat-card class="dashboard-card border_card">
    <mat-card-content class="dashboard-card-content">
      <mat-card-title> Perfil </mat-card-title>
      <br />
      <div class="img_container">
        <p style="font-size: 18px">
          Mi nombre es Juan Poux. <br />
          Tengo 28 años. <br />
          Soy desarrollador web.
        </p>
        <img
          style="width: 200px; height: 200px"
          src="assets/images/profile.jpg"
          alt=""
        />
      </div>
    </mat-card-content>
  </mat-card>
</div>
