/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
// regular style toast
@import "ngx-toastr/toastr";
// boostrap 5
// @import 'ngx-toastr/toastr-bs5-alert';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex_center {
  display: flex;
  justify-content: center;
}

.flex_evenly {
  display: flex;
  justify-content: space-evenly;
}

.border_card {
  border: 1px solid grey !important;
}

.card_text {
  font-size: 15px;
}
